button {
    width: 100px;
    height: 30px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: #ddd;
    cursor: pointer;

    &:hover {
        background: rgb(201, 201, 201);
    }
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;

    .left {
        display: grid;

        img {
            max-width: 600px;
            justify-self: center;
        }
    }

    .right {
        display: grid;
        grid-gap: 10px;
        padding: 0 20px;

        .description {
            text-align: justify;
            font-size: 14px;
            color: rgb(163, 162, 162);
        }

        .price {
            color: rgb(43, 167, 53);
        }

        button {
            width: 100%;
            margin: 0;
        }

        select,
        input {
            width: 40%;
            height: 40px;
            border: 1px solid #eee;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background: rgb(252, 252, 252);
            }
        }
    }
}
